# 画像処理100本ノック for Unity

## Description

画像処理の勉強として[画像処理100本ノック](https://github.com/yoyoyo-yo/Gasyori100knock)をUnityで実装する。

## 結果画像

<% desc_map.sort.each do |key, desc| %>
<p>
  <em><%= desc %></em>
</p>
<p>
  <img src="https://github.com/ququ9/ImageProcessing100/blob/master/Results/<%= key %>.png" alt width="256" height="256">
</p>

<% end %>
